DATABASE_URL="postgresql://postgres:postgres@localhost:5432/financas_pessoais?schema=public"
# Render/Supabase producao:
# DATABASE_URL="postgresql://postgres.nmgksbiafdpokaxljiqg:SENHA_DO_BANCO@aws-0-sa-east-1.pooler.supabase.com:5432/postgres?schema=public"
PORT=3333
SUPABASE_URL="https://nmgksbiafdpokaxljiqg.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sua-chave-publicavel"
